body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}

label.btn {
    /**margin:20px 10px;**/
    border-radius: 25px;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.label-input {
  display: block;
  margin-bottom: 10px;
}

.radio-buttons {
  display: block;
}

.radio-buttons input[type="radio"] {
  display: none;
}
.blue .radio-buttons label.radio-button {
  background-color: #fff;
  border: 1px solid #00adef;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.purple .radio-buttons label.radio-button {
  background-color: #fff;
  border: 1px solid #800080;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.blue .radio-buttons span {
  background: #fff;
  color: #00adef;
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 100%;
}
.blue .radio-buttons span:hover {
  background-color: #00adef;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blue .radio-buttons input:checked + span {
  background-color: #00adef;
  color: #fff;
}

.purple .radio-buttons span {
  background: #fff;
  color: #800080;
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 100%;
}
.purple .radio-buttons span:hover {
  background-color: #800080;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.purple .radio-buttons input:checked + span {
  background-color: #800080;
  color: #fff;
}

.missing-nums span{
    width:80px;
    margin:10px 10px;
    font-size:38px;
 }
.missing-nums input {
    width: 80px;
    margin:10px;
    border:none;
    border-bottom:1px solid #888;
    color:darkgreen;
    font-weight:bold;
    text-align:center;
}
.missing-nums input:hover {
    border:none;
}