input[type=number] {
  border: 0 none;
  width: 50px;
  height: 50px;
  font-size: 50px;
  background:#fff;
  text-align:center;
 }
input[type=number].is--valid,
.is--valid input[type=number] {
  background: white;
}
input[type=number].is--invalid,
.is--invalid input[type=number] {
  background: #ea797c;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
  border-collapse: collapse;
}
td {
  padding: 10px;
  border: 1px solid;
}
td:nth-child(3n):not(:last-child) {
  border-right: 2px solid;
}
tr:nth-child(3n):not(:last-child) td {
  border-bottom: 2px solid;
}

.table {
    border-radius: 5px;
    width: 60%;
    margin: 0px auto;
    float: none;
}