<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Welcome</title>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4 text-center">Thank You!</h1>
      <hr>

      <!-- Project One -->
      <div class="row">

        <div class="col-md-12 text-center">
          <p>We appreaciate your taking the time to go through this study with us.</p>
        </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->

  </body>

</html>
