<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <title>Welcome</title>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container pre">

      <!-- Page Heading -->
        <h1 class="my-4 text-center"> Indicate to what extent you feel this way right now.
        </h1>
        <p class="text-center">that is, at the present moment OR indicate the extent you have felt this way over the past week.</p>

      <!-- Project One -->
      <div class="row">

        <div class="col-md-12 text-center" id="questionpop">
            {% if error %}
              <div class="alert alert-warning" role="alert">
                {{error}}
              </div>
              {% endif %}

            <form method="post" action="/pre/" id="form">
                {% csrf_token %}
                {% for question in questions %}
                <div class="row question">
                  <div class="col-md-4">
                    <p>{{question}}</p>
                  </div>
                  <div class="col-md-8">
                    <div class="field radio-buttons">
                        <label class="radio-button">
                          <input type="radio" value="1" name="{{question}}" ><span>Very Slightly or Not at All</span>
                        </label>
                        <label class="radio-button">
                          <input type="radio" value="2" name="{{question}}" ><span>A little</span>
                        </label>
                        <label class="radio-button">
                          <input type="radio" value="3" name="{{question}}" ><span>Moderately</span>
                        </label>
                           <label class="radio-button">
                          <input type="radio" value="4" name="{{question}}" ><span>Quite a bit</span>
                        </label>
                           <label class="radio-button">
                          <input type="radio"  value="5" name="{{question}}" ><span>Extremely</span>
                        </label>
                      </div>
                  </div>
                </div>
                <hr>
                {% endfor %}
                <button class="btn btn-primary" type="submit" style="width:200px;">SUBMIT</button>
             </form>
          <br>
        </div>
      </div>
      <!-- /.row -->
        <hr>

    </div>
    <!-- /.container -->

  </body>

</html>
