<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Welcome</title>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4"></h1>

      <!-- Project One -->
      <div class="row">

        <div class="col-md-12 text-center">

          <h1>Listen to this recording then click Next</h1>
            <hr>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/529153845&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true&show_artwork=false"></iframe>
          <br>
          <a href="/post"><button class="btn btn-outline-primary" style="width:200px;">NEXT</button></a>
        </div>
      </div>
      <!-- /.row -->
        <hr>

    </div>
    <!-- /.container -->

    <!--&lt;!&ndash; Footer &ndash;&gt;-->
    <!--<footer class="py-5 bg-dark">-->
      <!--<div class="container">-->
        <!--<p class="m-0 text-center text-white">Copyright &copy;2018</p>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</footer>-->

  </body>

</html>
